@keyframes animate-sprite-sheet {
  from {
    transform: translate(0px, 0)
  }

  to {
    transform: translate(-100%, 0)
  }
}

@keyframes slide-left {
  from {
    margin-right: -100%;
  }

  to {
    margin-right: 0;
  }
}